ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 45%;
    max-width: 45%;
}

html, body, {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}



/* For the pre login screen */
#pre_login_container {
    width: 100%;
    height: 200px;
    margin: 0px;
}

#user_login_box {
    height: 150px;
    width: 29%;
    padding: 25px 10%;
    display: inline-block;
}

#employee_login_box {
    height: 150px;
    width: 30%;
    padding: 25px 10%;
    display: inline-block;
