
<p class="edit">We're a group of scummy russian hackers who are accomodating a New RTA in light of the attacks on the Swedish transport network.
<br>In our team we have: 
<br><b>Murray Meller:</b> Two Factor Authentication Specialist
<br><b>Euan Smith:</b> Algorithms and Cryptography Expert
<br><b>Igor: </b> Privacy and Spyware Guru
<br><b>Adam Ghanem:</b> Web Vulnerabilities and Excel Czar
<br><b>Dylan Harper:</b> Malware, Worms and Viruses Centurion
</p>

<p>
And together we're here to found a strong RTA system.
</p>
