<div id="register_vehicle_container">
    <h2><a href="/register_vehicle">Register Vehicle</a></h2>
    <p></p>
</div>

<div id="apply_license">
    <h2>Apply for a license</h2>
    <p></p>
</div>

<div id="points_and_fines">
    <h2>Points and Fines</h2>
    <p></p>
</div>

<div id="notify_sale">
    <h2>Selling Your Vehicle</h2>
    <p></p>
</div>

<div id="notify_destroyed">
    <h2>Vehicle Written Off</h2>
    <p></p>
</div>

<div id="register">
    <h2>Register Vehicle</h2>
    <p></p>
</div>

<div id="register">
    <h2>Register Vehicle</h2>
    <p></p>
</div>
